* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding/borders don't increase element width */
}

.title {
  text-align: center;
  font-size: 5rem;
}

body {
  background-color: #fafafa;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 7rem;
  padding: 2rem;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 200px;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 12px 12px 8px #aaa;
  border: 1px solid black;
}

.grid-container div {
  border: 1px solid black;
  flex: 0 0 6.25%;
  aspect-ratio: 1 / 1;
}

button,
input {
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

button {
  border-radius: 0.5rem;
  min-height: 44px;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  box-shadow: 0 0.1rem black;
  color: black;
  transform: 0.1s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.slider-value {
  margin-bottom: -12px;
}

.spacer {
  width: 200px;
}
